{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="mt-0 mx-auto md:px-auto">
        <section class="text-center md:text-left">
            <h2 class="mb-12 text-center text-3xl font-bold">Latest articles</h2>
            {% for category in categories %}
                <div class="mb-6 flex flex-wrap">
                    <div
                            class="mb-6 ml-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-3/12"
                    >
                        <div
                                class="relative w-full mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
                                data-te-ripple-init
                                data-te-ripple-color="light"
                        >
                            <img
                                    src="{{ category.image.url }}"
                                    class="w-full"
                                    alt="Category image"
                            />
                            <a href="{% url 'category_detail' category.id %}">
                                <div
                                        class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]"
                                ></div>
                            </a>
                        </div>
                    </div>

                    <div
                            class="mb-6 mr-auto w-full shrink-0 grow-0 basis-auto pb-32 content-center px-3 md:mb-0 md:w-9/12 xl:w-7/12"
                    >
                        <h5 class="mb-3 text-4xl text-center font-bold">{{ category.title }}</h5>
                        <p class="text-neutral-500 text-xl dark:text-neutral-300">
                            {{ category.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
