{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div
            class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] bg-[url('{% static "images/bg.jpg" %}')] h-[30vh] lg:h-[50vh]"
    ></div>

    <div
            class="w-100 mx-auto px-6 sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32"
    >
        <div class="text-center">
            <div
                    class="block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:py-16 md:px-12 mt-[-170px] backdrop-blur-[30px]"
            >
                <h1
                        class="mt-2 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl"
                >
                    Your Favorite Recipes
                </h1>
            </div>
        </div>
    </div>
    
    <div class="p-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for recipe in recipes %}
                {% include 'components/recipe.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}