{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="hero min-h-screen bg-base-200">
        <div class="text-center py-10">
            <h1 class="text-4xl font-bold text-gray-700">Share The Recipe</h1>
            <div class="hero-content flex-col lg:flex-row m-6">
                <div
                        class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-2xl"
                >
                    <div
                            class="relative mx-4 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40"
                    >
                        <img    id="imagePreview"
                                class="w-full h-[13rem] object-cover"
                                src="{% static 'images/burgerjpg.jpg' %}"
                                alt="Preview Image"
                        />
                        <div
                                class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60"
                        ></div>
                    </div>
                    <div class="p-6 break-words	">
                        <div class="flex items-center text-left justify-between mb-3">
                            <div>
                                <h5 id="titlePreview"
                                    class="block font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                                    Burger
                                </h5>
                                <p class="text-sm break-words">
                                    Recipe by
                                    <span class="font-bold text-orange-500 cursor-pointer">{{ request.user.profile.full_name }}</span>
                                </p>
                            </div>

                            <p
                                    class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="-mt-0.5 h-5 w-5 text-yellow-700"
                                >
                                    <path
                                            fill-rule="evenodd"
                                            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                            clip-rule="evenodd"
                                    ></path>
                                </svg>
                                5.0
                            </p>
                        </div>
                        <p id="descPreview"
                           class="block font-sans text-base text-left antialiased font-light leading-relaxed text-gray-700"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatibus hic temporibus non aperiam corporis nesciunt, quasi
                            labore, quam nostrum deserunt adipisci. Iusto quo hic magnam ex
                            tempore iste, nemo ipsum.
                        </p>
                    </div>
                </div>
                <div class="relative w-[36rem] mb-12 lg:mb-0">
                    <div
                            class="relative bg-[hsla(0,0%,100%,0.8)] backdrop-blur-[25px] backdrop-saturate-[200%] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,15%,0.9)] dark:shadow-black/20 md:px-12"
                    >
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="grid gap-6">
                                {% for field in form %}
                                    {% if field.name != 'content' %}
                                        <div class="relative flex w-full">
                                            <div class="relative text-left h-10 w-full m-4">
                                                <p>
                                                    <label for="{{ field.id_for_label }}"
                                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">{{ field.label }}</label>
                                                    {{ field }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="relative flex w-full mt-6 mb-6">
                                    <div class="relative text-left h-10 w-full m-2">
                                        {{ form.media }}
                                        {{ form.content}}
                                    </div>
                                </div>
                                <button
                                        type="submit"
                                        class="my-6 mt-9 inline-block w-full rounded bg-orange-500 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#ff7f50] transition duration-150 ease-in-out hover:bg-orange-600 hover:shadow-[0_8px_9px_-4px_rgba(255,127,80,0.3),0_4px_18px_0_rgba(255,127,80,0.2)] focus:bg-orange-600 focus:shadow-[0_8px_9px_-4px_rgba(255,127,80,0.3),0_4px_18px_0_rgba(255,127,80,0.2)] focus:outline-none focus:ring-0 active:bg-orange-700 active:shadow-[0_8px_9px_-4px_rgba(255,127,80,0.3),0_4px_18px_0_rgba(255,127,80,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(255,127,80,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(255,127,80,0.2),0_4px_18px_0_rgba(255,127,80,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(255,127,80,0.2),0_4px_18px_0_rgba(255,127,80,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(255,127,80,0.2),0_4px_18px_0_rgba(255,127,80,0.1)]"
                                >
                                    share
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script src="{% static "js/recipePreview.js" %}"></script>
    {% endblock %}
{% endblock %}