{% load static %}

<div class="z-50 w-full fixed">
    <div class="navbar bg-base-100 flex justify-between items-center relative">
        <div class="flex-1">
            <a href="{% url 'index' %}" class="btn btn-ghost text-xl">Recipes</a>
        </div>
        <div class="absolute left-1/2 transform -translate-x-1/2">
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn m-1">Catalog</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="{% url 'recipes_catalog' %}">Recipes</a></li>
                    <li><a href="{% url 'categories_catalog' %}">Categories</a></li>
                </ul>
            </div>
        </div>
        <div class="flex-none gap-2">
            {% if request.user.is_authenticated %}
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img alt="avatar" src="{{ request.user.profile.image_profile.url }}"/>
                        </div>
                    </div>
                    <ul tabindex="0"
                        class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                        <li>
                            <a href="{% url 'profile_detail' request.user.profile.id %}" class="justify-between">
                                Profile
                            </a>
                        </li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="hidden lg:grid btn btn-orange text-white">Login</a>
                <a href="{% url 'signup' %}"
                   class="hidden lg:grid btn hover:text-white mx-2 btn-outline btn-orange"
                >Signup</a>
            {% endif %}
        </div>
    </div>
</div>